<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cas.sict.BusLocation_passenger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/che"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cea83ecf05f65f5c16f19600245ac984" />

        <activity
            android:name="cn.cas.sict.BusLocation_passenger.LoginActivity"
            android:label="登录" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.cas.sict.BusLocation_passenger.ZhuceActivity"
            android:label="注册" >
        </activity>
        <activity
            android:name="cn.cas.sict.BusLocation_passenger.MainActivity"
            android:label="" >
        </activity>
        <activity
            android:name="cn.cas.sict.BusLocation_passenger.NameActivity"
            android:label="姓名" >
        </activity>
        <activity
            android:name="cn.cas.sict.BusLocation_passenger.RemindActivity"
            android:label="提醒" >
        </activity>
        <activity
            android:name="cn.cas.sict.BusLocation_passenger.AdviceActivity"
            android:label="建议" >
        </activity>

        <service android:name=".MyService" >
        </service>
    </application>

</manifest>